.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dddddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.classNoWrap {
  white-space: nowrap;
}
.buttonText {
  text-transform: capitalize;
  color: white;
}
.buttonTextBig {
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}
.MovieHeader {
  text-align: left;

  margin-bottom: 20px;
}
.InviteButton {
  border-radius: '8px';
  background: #8456ec;
  border: none;
  float: right !important;
}
.rightAlign {
  text-align: right;
  /* border: 0; */
}
.bulletPoint {
  font-size: 18px;
}
.HostedSub {
  margin-top: -10px;
  font-size: 10px;
}
